<% include ./parts/layout %>
<% include ./parts/loggednav %>
<link href='../css/chat.css' rel='stylesheet' type='text/css'>
<style>
    .img-rounded {
        width: 50px;
    }
</style>
<div class="container">
    <div class="row">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <span class="glyphicon glyphicon-comment"></span> Chat with <%= mate.name %>
                </div>
                <div class="panel-body">
                    <ul class="chat">
                        <% chat.messages.forEach( function(message){ %>
                        <li class="left clearfix"><span class="chat-img pull-left">
                            <% if(message.who === me.facebookID){ %>
                            <img src="<%= me.picture %>" alt="User Avatar" class="img-rounded">
                            <% }else if(message.who === mate.facebookID){ %>
                            <img src="<%= mate.picture %>" alt="User Avatar" class="img-rounded">
                            <% } %>
                        </span>
                            <div class="chat-body clearfix">
                                <div class="header">
                                    <% if(message.who === me.facebookID){ %>
                                    <strong class="primary-font"><%= me.name %></strong><br>
                                    <% }else if(message.who === mate.facebookID){ %>
                                    <strong class="primary-font"><%= mate.name %></strong><br>
                                    <% } %>
                                    <small class="text-muted"><span class="glyphicon glyphicon-time"></span><%- (new Date(parseInt(message.when, 10))).toUTCString() %></small>
                                </div>
                                <p>
                                    <%= message.content %>
                                </p>
                            </div>
                        </li>
                        <% }) %>
                    </ul>
                </div>
                <div class="panel-footer" style='position: relative;'>
                    <div id='typing' class='text-muted' style='position: absolute; top: -20px;'><small><%= mate.name %> is typing...</small></div>
                    <form class='form-group'>
                        <div class="input-group">
                            <input type="text" class="form-control input-sm" placeholder="Type your message here...">
                            <span class="input-group-btn">
                                <button class="btn btn-success btn-sm" type='submit' id="btn-chat"><i class='fa fa-paper-plane'></i> Send</button>
                            </span>
                        </div>
                    </form>
                </div>
            </div>
    </div>
</div>
<script>
    $('.panel-body').css('height', window.innerHeight*7/12);
    $(window).resize(function() {
        $('.panel-body').css('height', window.innerHeight*7/12);
    });
</script>
<script src="/socket.io/socket.io.js"></script>
<script>
    var me = <%- JSON.stringify(me) %>;
    var mate = <%- JSON.stringify(mate) %>;
    var socket = io();
    $('.panel-body').animate({scrollTop: $('.panel-body ul').height()});
    socket.emit('join', '<%= chat.id %>', me.facebookID);
    $('form').submit(function(){
        event.preventDefault();
        var message = {
            who: me.facebookID,
            to: mate.facebookID,
            when: Date.now(),
            content: $('input').val().toString()
        }
        socket.emit('message', '<%= chat.id %>', message);
        $('input').val('');
    })
    socket.on('message', function(message){
        var appendText = "<li class=\"left clearfix\"><span class=\"chat-img pull-left\">"
        if(message.who === me.facebookID){
            appendText += '<img src="'+me.picture+'" alt="User Avatar" class="img-rounded">';
        }else if(message.who === mate.facebookID){
            appendText += '<img src="'+mate.picture+'" alt="User Avatar" class="img-rounded">';
        }
        appendText += '</span><div class="chat-body clearfix"><div class="header">';
        if(message.who === me.facebookID){
            appendText += '<strong class="primary-font">'+me.name+'</strong><br>';
        }else if(message.who === mate.facebookID){
            appendText += '<strong class="primary-font">'+mate.name+'</strong><br>';
        }
        appendText += '<small class="text-muted"><span class="glyphicon glyphicon-time"></span>'+(new Date(parseInt(message.when, 10))).toUTCString()+'</small>\
                </div>\
                <p>'
                    +message.content+'\
                </p>\
            </div>\
        </li>';
        $('.chat').append(appendText);
        $('.panel-body').animate({scrollTop: $('.panel-body ul').height()});
    });
    $('#typing').hide();
    $('input').keydown(function(){
        socket.emit('typing', '<%= chat.id %>');
    });
    socket.on('typing', function(){
        $('#typing').show();
        setTimeout(function(){
            $('#typing').hide();
        }, 750);
    })
</script>
