<% include ./parts/layout %>
<% if(user) { %>
    <% include ./parts/loggednav %>
<% }else{ %>
    <% include ./parts/navbar %>
<% } %>
<style>
    .col-xs-2 {
        padding: 0 0 0 10px !important;
    }
    .col-xs-10 {
        padding-left: 10px;
        padding-right: 10px;
    }
</style>
<body>
    <div class='container'>
        <% feedArray.forEach(function(feed){ %>
        <div class='row'>
            <div class='col-md-1 col-xs-2'>
                <a href='<%= feed.profileLink %>'><img class='img-circle img-responsive' src='<%= feed.picture %>'/></a>
            </div>
            <div class='col-md-11 col-xs-10'>
                <p style='color: gray; font-size:10px;'><%= feed.when %></p>
                <p><a style='text-decoration:none; font-weight: bold;' href='<%= feed.profileLink %>'><%= feed.name %></a> <%= feed.action %> <a style='text-decoration: none;' href='<%= feed.bizLink %>'><%= feed.bizName %></a></p>
            </div>
        </div>
        <hr>
        <% }) %>
        <div class='row'>
            <button class='btn btn-default col-xs-12'>Show Older Feeds</button>
        </div>
    </div>
</body>