<% include ./parts/layout %>
<% if(user) { %>
    <% include ./parts/loggednav %>
<% }else{ %>
    <% include ./parts/navbar %>
<% } %>
<style>
    #info {
        border: 1px solid #ddd;
        border-top: none;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
        padding: 15px;
    }
    .list-group-item:first-child {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-top-color: transparent;
    }
</style>
<body>
    <div class='container'>
        <div class='row'>
            <div class='col-md-2'>
                <div class='row'>
                    <img class='img-responsive img-rounded center-block' src='<%= profile.picture %>'>
                </div>
            </div>
            <div class='col-md-10'>
                <h2><%= profile.name %></h2>
                <div id="Tab" >	
                    <ul  class="nav nav-tabs">
                		<li class='active'>
                		    <a href="#been" data-toggle="tab">Been To (<%= profile.places.length %>)</a>
                		</li>
                		<li>
                		    <a href="#book" data-toggle="tab">Bookmarked (<%= profile.bookmarks.length %>)</a>
                		</li>
                	</ul>
            
                	<div class="tab-content clearfix">
                		<div class="tab-pane active" id="been">
                            <div class='list-group'></div>
                		</div>
                        <div class="tab-pane" id="book">
                            <div class='list-group'></div>
                		</div>
                	</div>
                </div>
            </div>
        </div>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        var socket = io();
        var places = <%- JSON.stringify(profile.places) %>;
        var bookmarks = <%- JSON.stringify(profile.bookmarks) %>;
        var countPlace = 0, countBook = 0;
        for(var ind in places){
            socket.emit('place', places[ind]);
        }
        for (var index in bookmarks){
            socket.emit('book', bookmarks[index]);
        }
        socket.on('place', function(place){
            $('#been .list-group').append("<a class='list-group-item clearfix' href='/biz/"+place.id+"'>"+place.name+"<button class='pull-right btn btn-xs btn-danger' value='"+place.id+"' what='place'><i class='fa fa-trash-o'></i> Remove</button></a>")
            countPlace++;
            if(countPlace + countBook === places.length+bookmarks.length) prepared();
        })
        socket.on('book', function(place){
            $('#book .list-group').append("<a class='list-group-item clearfix' href='/biz/"+place.id+"'>"+place.name+"<button class='pull-right btn btn-xs btn-danger' value='"+place.id+"' what='book'><i class='fa fa-trash-o'></i> Remove</button></a>")
            countBook++;
            if(countPlace + countBook === places.length+bookmarks.length) prepared();
        })
    function prepared(){
        $('.btn-danger').click(function(){
            event.preventDefault();
            $(this).parent().remove();
            if($(this).attr('what') === 'place'){
                countPlace--;
                $('li.active a').text('Been To ('+countPlace+')');
                socket.emit('remove', '<%= user.facebookID %>', 'places', $(this).val());
            }else{
                countBook--;
                $('li.active a').text('Bookmarked ('+countBook+')');
                socket.emit('remove', '<%= user.facebookID %>', 'bookmarks', $(this).val());
            }
        });
    };
    </script>
</body>