<% include ./parts/layout %>
<% if(user) { %>
    <% include ./parts/loggednav %>
<% }else{ %>
    <% include ./parts/navbar %>
<% } %>
<style>
    #info {
        border: 1px solid #ddd;
        border-top: none;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
        padding: 15px;
    }
    .list-group-item:first-child {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-top-color: transparent;
    }
</style>
<body>
    <div class='container'>
        <div class='row'>
            <div class='col-md-2'>
                <div class='row'>
                    <img class='img-responsive img-rounded center-block' src='<%= profile.picture %>'>
                </div>
                <div class='row'>
                    <div class='col-xs-1'></div>
                    <% if(user){ %>
                    <a class='btn btn-default col-xs-5 col-md-12' style='margin: 2% auto 0 auto;' href='/chat/new/<%= profile.facebookID %>'><i class='glyphicon glyphicon-comment'></i> Message</a>
                    <% }else{ %>
                    <a class='btn btn-default disabled col-xs-5 col-md-12' style='margin: 2% auto 0 auto;' href='/chat/new/<%= profile.facebookID %>'><i class='glyphicon glyphicon-comment'></i> Message</a>
                    <% } %>
                    <a class='btn btn-primary col-xs-5 col-md-12' style='margin: 2% auto 0 auto;' href='<%= profile.facebookProfile %>' target='_blank'><i class='fa fa-facebook'></i> Find Me</a>
                </div>
            </div>
            <div class='col-md-10'>
                <h2><%= profile.name %></h2>
                <div id="Tab" >	
                    <ul  class="nav nav-tabs">
                		<li class='active'>
                		    <a href="#been" data-toggle="tab">Been To (<%= profile.places.length %>)</a>
                		</li>
                		<li>
                		    <a href="#book" data-toggle="tab">Bookmark (<%= profile.bookmarks.length %>)</a>
                		</li>
                	</ul>
            
                	<div class="tab-content clearfix">
                		<div class="tab-pane active" id="been">
                            <div class='list-group'></div>
                		</div>
                        <div class="tab-pane" id="book">
                            <div class='list-group'></div>
                		</div>
                	</div>
                </div>
            </div>
        </div>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        var socket = io();
        var places = <%- JSON.stringify(profile.places) %>;
        var bookmarks = <%- JSON.stringify(profile.bookmarks) %>;
        for(var ind in places){
            socket.emit('place', places[ind]);
        }
        for (var index in bookmarks){
            socket.emit('book', bookmarks[index]);
        }
        
        socket.on('place', function(place){
            $('#been .list-group').append("<a class='list-group-item clearfix' href='/biz/"+place.id+"'>"+place.name+"<span class='pull-right'><img src='"+place.rating_img_url_small+"'/></span></a>")
        })
        socket.on('book', function(place){
            $('#book .list-group').append("<a class='list-group-item clearfix' href='/biz/"+place.id+"'>"+place.name+"<span class='pull-right'><img src='"+place.rating_img_url_small+"'/></span></a>")
        })
    </script>
</body>